<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true">

    <bean id="mpReceiverServletHolder" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg>
            <bean id="mpReceiverServlet" class="cn.jpush.mp.transport.impl.MPReceiverServlet" />
        </constructor-arg>
    </bean>

    <!-- Adding the servlet holders to the handlers -->
    <bean id="servletHandlerSetter" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="servletHandler"/>
        <property name="targetMethod" value="addServlet"/>
        <property name="arguments">
            <list>
                <ref bean="mpReceiverServletHolder"/>
                <value>/v1/mp/send</value>
            </list>
        </property>
    </bean>

    <bean id="servletHandler" class="org.eclipse.jetty.servlet.ServletContextHandler"/>

    <bean id="jettyServer" class="org.eclipse.jetty.server.Server" init-method="start" destroy-method="stop" depends-on="servletHandlerSetter">
        <constructor-arg>
            <bean id="threadPool" class="org.eclipse.jetty.util.thread.QueuedThreadPool">
                <property name="minThreads" value="10"/>
                <property name="maxThreads" value="200"/>
            </bean>
        </constructor-arg>
        <property name="connectors">
            <list>
                <bean id="connector" class="org.eclipse.jetty.server.ServerConnector">
                    <constructor-arg ref="jettyServer"/>
                    <property name="port" value="${jetty.port}"/>
                </bean>
            </list>
        </property>
        <property name="handler">
            <ref bean="servletHandler" />
        </property>
    </bean>

    <bean id="startJettyServer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" depends-on="jettyServer">
        <property name="targetObject" ref="jettyServer"></property>
        <property name="targetMethod"><value>join</value></property>
    </bean>

</beans>